# Server
PORT=

# MongoDB
MONGO_URL=

# JWT
JWT_SECRET=

# Frontend
FRONTEND_DOMAIN=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Brevo SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=